.parallax-window {
    min-height: 420px;
    background: transparent;
    color: white;
    text-align: center;
}

.parallax-window h1 {
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-top: 100px;
	margin-bottom: 50px;
}

#aboutBody {
	margin-top: 50px;
	margin-bottom: 50px;
}

